<div id="container">
    <h1>{{{data.title}}}</h1>
    {{#each data.sections}}
        {{#if @first}}
        <div class="section">
            {{!-- <div class="header">{{{category}}}</div> --}}
            <div class="body">
                <ul>
                    {{#each sites}}
                        <li><a href="{{url}}" title="{{desc}}">{{title}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <hr />
        {{else}}
        <div class="section">
            <div class="header">{{{category}}}</div>
            <div class="body">
                <ul>
                    {{#each sites}}
                        <li><a href="{{url}}" title="{{title}}">{{title}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/if}}
    {{/each}}
</div>