<!DOCTYPE html>
<html>
  <head>
    <title>{{data.title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
