ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
}

ul li:not(:last-child) {
    margin-right: 15px;
}

html {
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/pc/0.jpg");
    background-size: cover;
    -ms-behavior: url(./backgroundsize.min.htc);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed !important;
    transition: all 2s ease;
    margin: 0;
    padding: 0;
    background-color: rgb(87, 130, 199);
}



#container {
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.3);
    color: #fefefe;
    padding: 25px 50px;
    text-align: center;
    min-width: 30%;
    max-width: 90%;
    min-height: 20%;
    max-height: 90%;
    overflow: auto;
    font-size: 1.1rem;
}

#container a {
    color: #fefefe;
    text-decoration-line: none;
}

#container .section:not(:last-child) {
    margin-bottom: 15px;
}

#container .section .header {
    margin-bottom: 5px;
}

hr {
    border: 0; 
    border-top: 2px dashed #fff;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 0.6rem;
    }
    
    body {
        background-image: none;
        /* background-color: rgb(87, 130, 199); */
        background-color: black;
    }
    
    #container {
        padding: 5px 15px;
        min-width: 80%;
        max-width: 85%;
        min-height: 80%;
        max-height: 95%;
        color: green;
    }
    
    #container a {
        color: green;
    }
    
    #container hr {
        border-top: 2px dashed green; 
    }
}